html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  font-weight: 600;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bgNav{
  height: 86px;
  background-color: #0894B4;
}

@media only screen and (min-width: 992px) {
  .centroHead{
      margin: 0 auto;
      margin-left: 1080px;
  }
}

@media only screen and (min-width: 1200px) {
  .centroHead{
      margin: 0 auto;
      margin-left:1080px;
  }
}

@media only screen and (min-width: 1400px) {
  .centroHead{
      margin: 0 auto;
      margin-left:1080px;
  }
}

.corLetra{
  color: white;
}

.tituloLaranja{
  color: #F87C04;
  margin-bottom: 20px;
}

.tituloAzul{
  color: #0894B4;
}

.pragrafoDireita{
  height: 500px;
  width: 1005px;
  text-align: center;
  margin-right: 115px;
  margin-top: 190px;
  justify-content: center;
  float: right;
}

.pragrafoEsquerda{
  height: 500px;
  width: 1005px;
  text-align: center;
  margin-left: 115px;
  margin-top: 190px;
  justify-content: center;
  float: left;
}

.imgEsquerda{
  float: left;
  margin-left: 70px;
  margin-top: 70px;
}

.imgDireita{
  float: right;
  margin-right: 70px;
  margin-top: 70px;
}

.espacamento{
  margin-top: 1400px;
  justify-self: center;
}

.tamanhoDivNumeros{
  display: flex;
  width: 1350px;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}

.tamanhoItens{
  display: flex;
  width: 420px;
  height: 136px;
  align-items: center;
}

.itensAzul{
  background-color: #0894B4;
  width: 100px;
  height: 100px;
  text-align: center;
  color: white;
  float: left;
}

.h1Insano{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1;
  margin-top: 20%;
}

.itensTexto{
  width: 300px;
  text-align: center;
  margin-left: 15px;
  float: right;
  justify-self: center;
}

/* centralizar img final */
.imagemFinal{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70.357972544878564vh;
  margin-top: 7%;
  margin-bottom: 7%;
}


/* Paginas */

.titulo{
  color: #F87C04;
  font-weight: bolder;
  font-size: 7.4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

.paragrafo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 1.5%;
  font-size: 3vh;
}

.contIcones{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.divIcones{
  display: flex;
  align-items: center;  
  width: 100%;
  height: 100%;
  margin-left: 8%;
  margin-right: 10%;
  margin-top: .3%;
  color: aliceblue;
  
}

.icone{
  float: left;
}
.textoIcone{
  margin-top: .8%;
  margin-left: 5px;
  width: 140px;
  justify-self: center;
}

